@import "./variables";

body {
    background-image: linear-gradient(to right, #0060ac, #00afc2);
}

body, html {
    height: 100%;
    color: white;
}

#app {
    min-height: 100%;
    position: relative;
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

footer {
    position: absolute;
    bottom: 0px;
    padding: 16px;
    width: 100%;
    background-image: linear-gradient(to right, #0060ac, #00afc2);
    a {
        font-size: 0.8em;
        color: white;
        text-transform: uppercase;
        border-bottom: 1px solid white;

        &:hover {
            color: $blue-light;
            text-decoration: none;
            border-color: $blue-light;
        }
    }
}